# **MÓDULO 24 - Bancos de Dados + SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [ ]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [ ]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [ ]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [ ]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne todos os dados da nossa tabela de vendas, com todas linhas e todas colunas.

In [2]:
import sqlite3
import pandas as pd

# Carregar os dados
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

# Criar a conexão com o SQLite na memória
conn = sqlite3.connect(':memory:')

# Enviar o DataFrame para o banco de dados
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

# Definir a função para executar consultas SQL
def run_query(query):
    return pd.read_sql_query(query, conn)

query = "SELECT * FROM tb_vendas"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2
11       1258        9789  CAMISETA       34,5         3
12       1259        9790  CAMISETA       34,5         1
13       1260        9791   BERMUDA       79,5         2
14       1261        9792  CAMISETA       34,5         2
15       1262        9793     CALCA       89,9         2
16       1263        9794     CALCA       89,9         1
17       1264        9795   BERMUDA       79,5         2
18       1265        9796  CAMISETA       34,5         4
19       1266        9797  CAMISETA       34,5         1
20       1267        9798   VESTIDO        102         2
21       1268        9799      MEIA       25,9         3
22       1269        9800  CAMISETA       34,5         2
23       1270        9801     CALCA       89,9         1

# 2) Faça uma consulta que retorne apenas 10 linhas da coluna produto.

In [3]:
query = "SELECT produto FROM tb_vendas LIMIT 10"
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2  CAMISETA
3   BERMUDA
4  CAMISETA
5   VESTIDO
6     CALCA
7      MEIA
8     CALCA
9   VESTIDO

# 3) Faça uma consulta que retorne a média do valor por unidade e também das unidades vendidas. Não se esqueça de renomear o nome das colunas ao cria-las.

In [7]:

query = """
SELECT 
    AVG(VALOR_UNID) AS media_valor_unidade, 
    AVG(UNIDADES) AS media_unidades_vendidas
FROM tb_vendas
"""


result_df = run_query(query)
print(result_df)

   media_valor_unidade  media_unidades_vendidas
0            64.004167                 1.833333

# 4) Note que na nossa tabela não temos o total de valor gasto por compra, temos o valor do produto e a quantidade vendida, para termos o valor total precisamos multiplicar essas duas colunas e para multiplicar colunas usamos o *.
# Faça uma consulta que retorne a coluna ID_COMPRA, ID_CLIENTE e o valor total gasto.

Ex: SELECT TICKET_MEDIO*UNIDADE FROM TB_EXEMPLO

In [13]:
query = """
SELECT ID_COMPRA, ID_CLIENTE, (VALOR_UNID * UNIDADES) AS valor_total_gasto
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE  valor_total_gasto
0        1247        9081               69.0
1        1248        9081               89.9
2        1250        9560               34.5
3        1249        9630              159.0
4        1251        9425              103.5
5        1252        9425              102.0
6        1253        9481              179.8
7        1254        9785               25.9
8        1255        9786              179.8
9        1256        9787              102.0
10       1257        9788              179.8
11       1258        9789              103.5
12       1259        9790               34.5
13       1260        9791              159.0
14       1261        9792               69.0
15       1262        9793              179.8
16       1263        9794               89.9
17       1264        9795              159.0
18       1265        9796              138.0
19       1266        9797               34.5
20       1267        9798              204.0
21       1268        9799               77.7
22       1269        9800               69.0
23       1270        9801               89.9

# 5) [DESAFIO] Faça uma consulta que traz a média do valor total gasto que foi calculado no exercício anterior. Note que não queremos a média por pedido e sim a média total, apenas essa informação deve vir na consulta.

In [14]:
query = """
SELECT AVG(VALOR_UNID * UNIDADES) AS media_valor_total_gasto
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

   media_valor_total_gasto
0               109.708333

# 6) Diferencie com suas palavras, considerando o repertório que tem criado da área de dados, a utilizadade do SQL e do Python para ciência de dados.
Minimo 2 linhas.

SQL é uma linguagem específica para manipulação e consulta de dados em bancos de dados relacionais. É altamente eficiente para operações de filtragem, agregação e junção de dados. Python, por outro lado, é uma linguagem de programação de propósito geral que oferece uma ampla gama de bibliotecas para análise de dados, machine learning e visualização. Enquanto SQL é ideal para consultas rápidas e manipulação de grandes volumes de dados diretamente no banco de dados, Python é mais versátil e pode ser usado para tarefas mais complexas e análises mais profundas.

#7) Diferencie com suas palavras banco de dados relacionais de não relacionais.
Minimo 3 linhas.

Bancos de dados relacionais armazenam dados em tabelas estruturadas com linhas e colunas, e usam SQL para consultas. Eles são ideais para dados estruturados e garantem a integridade dos dados através de relações e chaves. Bancos de dados não relacionais (NoSQL) armazenam dados em formatos flexíveis, como documentos, gráficos ou pares chave-valor. Eles são mais escaláveis e adequados para dados não estruturados ou semi-estruturados, como JSON ou XML.

#8) Queremos saber da sua opinião, acredita que o SQL pode ser mais prático que o Python para consultas rápidas? Justifique.
Muitas vezes durante a carreia você terá que escolher qual linguagem utilizar para cada momento afim de entregar o que é solicitado o mais rápido e com qualidade possível, exercite sua argumentação = )

Minimo 3 linhas.

Sim, o SQL pode ser mais prático que o Python para consultas rápidas, especialmente quando se trata de manipulação e extração de dados diretamente de um banco de dados. SQL é otimizado para operações de consulta e agregação, permitindo que você obtenha resultados rapidamente com poucas linhas de código. Python, embora poderoso, pode exigir mais configuração e tempo para realizar as mesmas tarefas, especialmente quando se lida com grandes volumes de dados. No entanto, para análises mais complexas ou quando é necessário integrar diferentes fontes de dados, Python pode ser mais vantajoso.